# core configuration
core
    application
        enable_native_console = true
        # console thread sleeps for 50ms after each iteration
        console_thread_sleep_interval = 50
    injector
        depgraph_path = "../Assets/Dependencygraph/TestDepGraph.xml"
        module_path = "../Output/Win32/Release"
    threading
        max_worker_threads = 4
    resources
        asset_path = "../Assets"
physics
    cloth_simulation
        particles_per_task = 250
        #causes a lot of jitter when enabled. needs to be fixed in the future
        do_impulse_based_collision_response = true
        penetration_correction_multiplier = 0.4
        collision_fric = 0.4
GameLogic
	Camera
		minimum_y = 0
		mouse_move = true
graphics
    opengl
        version_major = 4
        version_minor = 3
    window
        width = 1280
        height = 720
        title = "IPEngine demo"
        vsync = false
        msaa = true
        msaa_samples = 4
        #0: off, 1: windowed fullscreen, 2: fullscreen
        fullscreen = 0
    materials
        texturemaps
            enable_mipmapping = true
            linear_mag_filter = true
            linear_min_filter = true
            linear_mipmap_filter = true
            enable_aniso_filter = true
            max_aniso_level = 16
    lighting
        ambient_light
            r = 0.03
            g = 0.03
            b = 0.03
        max_dirlights = 2
        max_pointlights = 8
        max_spotlights = 8
        tone_mapping_exposure = 1.0
        ibl
            enable_ibl = true
            diffuse_ibl = true
            specular_ibl = true
            generating
                diffuse
                    resx = 64
                    resy = 64
                    sample_delta = 0.025
                specular
                    resx = 128
                    resy = 128
                    mipmap_levels = 5
                    nsamples = 1024
                brdf
                    resx = 512
                    resy = 512
                    nsamples = 1024
        shadows
            enable_shadows = true
            res
                x = 2048
                y = 2048
            blur_passes = 1
            variance_bias = 1.e-6
            light_bleed_reduction = 0.2
    envmap
        display = true
        #type: 0 -> cube map; 1 -> equirectangular map
        type = 1
        conversion_resxy = 512
        texEr
            hdr = true
            map = "../Assets/Textures/ERMaps/ermap.hdr"
        texCube
            hdr = false
            px = "../Assets/Textures/CubeMaps/cm1/px.png"
            nx = "../Assets/Textures/CubeMaps/cm1/nx.png"
            py = "../Assets/Textures/CubeMaps/cm1/py.png"
            ny = "../Assets/Textures/CubeMaps/cm1/ny.png"
            pz = "../Assets/Textures/CubeMaps/cm1/pz.png"
            nz = "../Assets/Textures/CubeMaps/cm1/nz.png"
    shaders
        pbr_forward
            vertex = "../Assets/Shaders/forward_pbr.vs"
            fragment = "../Assets/Shaders/forward_pbr.fs"
        pbribl_forward
            vertex = "../Assets/Shaders/forward_pbribl.vs"
            fragment = "../Assets/Shaders/forward_pbribl.fs"
        pbr_forward_shadow
            vertex = "../Assets/Shaders/forward_pbr_with_shadows.vs"
            fragment = "../Assets/Shaders/forward_pbr_with_shadows.fs"
        pbribl_forward_shadow
            vertex = "../Assets/Shaders/forward_pbribl_with_shadows.vs"
            fragment = "../Assets/Shaders/forward_pbribl_with_shadows.fs"
        gblur
            vertex = "../Assets/Shaders/gblur.vs"
            fragment = "../Assets/Shaders/gblur.fs"
        skybox
            vertex = "../Assets/Shaders/skybox.vs"
            fragment = "../Assets/Shaders/skybox.fs"
        envconv
            vertex = "../Assets/Shaders/envconv.vs"
            fragment = "../Assets/Shaders/envconv.fs"
            geometry = "../Assets/Shaders/envconv.gs"
        shadow
            vertex = "../Assets/Shaders/vsm_shadow.vs"
            fragment = "../Assets/Shaders/vsm_shadow.fs"
        iblgen
            irradiance
                vertex = "../Assets/Shaders/iblgen_irradiance.vs"
                fragment = "../Assets/Shaders/iblgen_irradiance.fs"
                geometry = "../Assets/Shaders/iblgen_irradiance.gs"
            specular
                vertex = "../Assets/Shaders/iblgen_specular.vs"
                fragment = "../Assets/Shaders/iblgen_specular.fs"
                geometry = "../Assets/Shaders/iblgen_specular.gs"
            brdf
                vertex = "../Assets/Shaders/iblgen_brdf.vs"
                fragment = "../Assets/Shaders/iblgen_brdf.fs"
    vr
        msaa_samples = 4